.ckeditor5-toolbar-button-jwBox {
  background-image: url(../icons/jwBox.svg);
}
#edit-embed,
.floatright {
  float: right;
}
#jw_player_form_wrapper table {
  margin-top: 0;
}
#jw_player_form_wrapper .fieldset__wrapper {
  margin: 0;
}
#jw_player_form_wrapper .pager {
  padding-right: 20px;
  padding-left: 20px;
}
.button.disabled,
.button.disabled:hover {
  opacity: 0.7;
  color: #919297 !important;
  border: 1px solid #919297 !important;
  background-color: #ebebed !important;
}
#embedcode {
  display: inline-block;
  width: auto;
  padding: 20px;
}
.jw-display-icon-container .jw-icon .jw-svg-icon,
.jw-icon-pip .jw-svg-icon-pip-on,
.jw-icon-pip .jw-svg-icon-pip-off,
.jw-icon-fullscreen .jw-svg-icon-fullscreen-off,
.jw-icon-fullscreen .jw-svg-icon-fullscreen-on,
.jwplayer.jw-state-playing .jw-display .jw-icon-display .jw-svg-icon-play,
.jwplayer.jw-state-playing .jw-icon-playback .jw-svg-icon-play,
.jwplayer.jw-state-playing .jw-display .jw-icon-display .jw-svg-icon-pause,
.jwplayer.jw-state-playing .jw-icon-playback .jw-svg-icon-pause {
  top: 0;
  min-height: unset;
}
section.jw-box {
  min-height: 200px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
}
.jw-video-search-wrapper {
  display: block;
  margin: 0 !important;
  padding: 20px !important;
}
.jw-video-search-wrapper .fieldset__label {
  padding: 0 !important;
}
